HolidayReservationWebServiceClient/xml-resources/web-service-references/HolidayReservationSystemWebService/wsdl/localhost_8080/HolidayReservationSystemWebService/HolidayReservationSystemWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://holidayReservationWS.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://holidayReservationWS.session.ejb/" name="HolidayReservationSystemWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://holidayReservationWS.session.ejb/" schemaLocation="http://localhost:8080/HolidayReservationSystemWebService/HolidayReservationSystemWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="retrieveAllModel">
<part name="parameters" element="tns:retrieveAllModel"/>
</message>
<message name="retrieveAllModelResponse">
<part name="parameters" element="tns:retrieveAllModelResponse"/>
</message>
<message name="retrieveAllCategory">
<part name="parameters" element="tns:retrieveAllCategory"/>
</message>
<message name="retrieveAllCategoryResponse">
<part name="parameters" element="tns:retrieveAllCategoryResponse"/>
</message>
<message name="searchCarByModel">
<part name="parameters" element="tns:searchCarByModel"/>
</message>
<message name="searchCarByModelResponse">
<part name="parameters" element="tns:searchCarByModelResponse"/>
</message>
<message name="ModelNotFoundException">
<part name="fault" element="tns:ModelNotFoundException"/>
</message>
<message name="searchCarByCategory">
<part name="parameters" element="tns:searchCarByCategory"/>
</message>
<message name="searchCarByCategoryResponse">
<part name="parameters" element="tns:searchCarByCategoryResponse"/>
</message>
<message name="CategoryNotFoundException">
<part name="fault" element="tns:CategoryNotFoundException"/>
</message>
<message name="retrieveOutletById">
<part name="parameters" element="tns:retrieveOutletById"/>
</message>
<message name="retrieveOutletByIdResponse">
<part name="parameters" element="tns:retrieveOutletByIdResponse"/>
</message>
<message name="OutletNotFoundException">
<part name="fault" element="tns:OutletNotFoundException"/>
</message>
<message name="BeyondOperatingHoursException">
<part name="fault" element="tns:BeyondOperatingHoursException"/>
</message>
<message name="PickUpDateAfterReturnDateException">
<part name="fault" element="tns:PickUpDateAfterReturnDateException"/>
</message>
<message name="NoRentalRateApplicableException">
<part name="fault" element="tns:NoRentalRateApplicableException"/>
</message>
<message name="retrieveModelById">
<part name="parameters" element="tns:retrieveModelById"/>
</message>
<message name="retrieveModelByIdResponse">
<part name="parameters" element="tns:retrieveModelByIdResponse"/>
</message>
<message name="retrieveAvailAllModels">
<part name="parameters" element="tns:retrieveAvailAllModels"/>
</message>
<message name="retrieveAvailAllModelsResponse">
<part name="parameters" element="tns:retrieveAvailAllModelsResponse"/>
</message>
<message name="retrieveCarsByCategoryId">
<part name="parameters" element="tns:retrieveCarsByCategoryId"/>
</message>
<message name="retrieveCarsByCategoryIdResponse">
<part name="parameters" element="tns:retrieveCarsByCategoryIdResponse"/>
</message>
<message name="calculateRentalFee">
<part name="parameters" element="tns:calculateRentalFee"/>
</message>
<message name="calculateRentalFeeResponse">
<part name="parameters" element="tns:calculateRentalFeeResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="retrieveAllOutlet">
<part name="parameters" element="tns:retrieveAllOutlet"/>
</message>
<message name="retrieveAllOutletResponse">
<part name="parameters" element="tns:retrieveAllOutletResponse"/>
</message>
<portType name="HolidayReservationSystemWebService">
<operation name="retrieveAllModel">
<input wsam:Action="http://holidayReservationWS.session.ejb/HolidayReservationSystemWebService/retrieveAllModelRequest" message="tns:retrieveAllModel"/>
<output wsam:Action="http://holidayReservationWS.session.ejb/HolidayReservationSystemWebService/retrieveAllModelResponse" message="tns:retrieveAllModelResponse"/>
</operation>
<operation name="retrieveAllCategory">
<input wsam:Action="http://holidayReservationWS.session.ejb/HolidayReservationSystemWebService/retrieveAllCategoryRequest" message="tns:retrieveAllCategory"/>
<output wsam:Action="http://holidayReservationWS.session.ejb/HolidayReservationSystemWebService/retrieveAllCategoryResponse" message="tns:retrieveAllCategoryResponse"/>
</operation>
<operation name="searchCarByModel">
<input wsam:Action="http://holidayReservationWS.session.ejb/HolidayReservationSystemWebService/searchCarByModelRequest" message="tns:searchCarByModel"/>
<output wsam:Action="http://holidayReservationWS.session.ejb/HolidayReservationSystemWebService/searchCarByModelResponse" message="tns:searchCarByModelResponse"/>
<fault message="tns:ModelNotFoundException" name="ModelNotFoundException" wsam:Action="http://holidayReservationWS.session.ejb/HolidayReservationSystemWebService/searchCarByModel/Fault/ModelNotFoundException"/>
</operation>
<operation name="searchCarByCategory">
<input wsam:Action="http://holidayReservationWS.session.ejb/HolidayReservationSystemWebService/searchCarByCategoryRequest" message="tns:searchCarByCategory"/>
<output wsam:Action="http://holidayReservationWS.session.ejb/HolidayReservationSystemWebService/searchCarByCategoryResponse" message="tns:searchCarByCategoryResponse"/>
<fault message="tns:CategoryNotFoundException" name="CategoryNotFoundException" wsam:Action="http://holidayReservationWS.session.ejb/HolidayReservationSystemWebService/searchCarByCategory/Fault/CategoryNotFoundException"/>
</operation>
<operation name="retrieveOutletById">
<input wsam:Action="http://holidayReservationWS.session.ejb/HolidayReservationSystemWebService/retrieveOutletByIdRequest" message="tns:retrieveOutletById"/>
<output wsam:Action="http://holidayReservationWS.session.ejb/HolidayReservationSystemWebService/retrieveOutletByIdResponse" message="tns:retrieveOutletByIdResponse"/>
<fault message="tns:OutletNotFoundException" name="OutletNotFoundException" wsam:Action="http://holidayReservationWS.session.ejb/HolidayReservationSystemWebService/retrieveOutletById/Fault/OutletNotFoundException"/>
<fault message="tns:BeyondOperatingHoursException" name="BeyondOperatingHoursException" wsam:Action="http://holidayReservationWS.session.ejb/HolidayReservationSystemWebService/retrieveOutletById/Fault/BeyondOperatingHoursException"/>
<fault message="tns:PickUpDateAfterReturnDateException" name="PickUpDateAfterReturnDateException" wsam:Action="http://holidayReservationWS.session.ejb/HolidayReservationSystemWebService/retrieveOutletById/Fault/PickUpDateAfterReturnDateException"/>
<fault message="tns:ModelNotFoundException" name="ModelNotFoundException" wsam:Action="http://holidayReservationWS.session.ejb/HolidayReservationSystemWebService/retrieveOutletById/Fault/ModelNotFoundException"/>
<fault message="tns:NoRentalRateApplicableException" name="NoRentalRateApplicableException" wsam:Action="http://holidayReservationWS.session.ejb/HolidayReservationSystemWebService/retrieveOutletById/Fault/NoRentalRateApplicableException"/>
</operation>
<operation name="retrieveModelById">
<input wsam:Action="http://holidayReservationWS.session.ejb/HolidayReservationSystemWebService/retrieveModelByIdRequest" message="tns:retrieveModelById"/>
<output wsam:Action="http://holidayReservationWS.session.ejb/HolidayReservationSystemWebService/retrieveModelByIdResponse" message="tns:retrieveModelByIdResponse"/>
<fault message="tns:ModelNotFoundException" name="ModelNotFoundException" wsam:Action="http://holidayReservationWS.session.ejb/HolidayReservationSystemWebService/retrieveModelById/Fault/ModelNotFoundException"/>
</operation>
<operation name="retrieveAvailAllModels">
<input wsam:Action="http://holidayReservationWS.session.ejb/HolidayReservationSystemWebService/retrieveAvailAllModelsRequest" message="tns:retrieveAvailAllModels"/>
<output wsam:Action="http://holidayReservationWS.session.ejb/HolidayReservationSystemWebService/retrieveAvailAllModelsResponse" message="tns:retrieveAvailAllModelsResponse"/>
</operation>
<operation name="retrieveCarsByCategoryId">
<input wsam:Action="http://holidayReservationWS.session.ejb/HolidayReservationSystemWebService/retrieveCarsByCategoryIdRequest" message="tns:retrieveCarsByCategoryId"/>
<output wsam:Action="http://holidayReservationWS.session.ejb/HolidayReservationSystemWebService/retrieveCarsByCategoryIdResponse" message="tns:retrieveCarsByCategoryIdResponse"/>
</operation>
<operation name="calculateRentalFee">
<input wsam:Action="http://holidayReservationWS.session.ejb/HolidayReservationSystemWebService/calculateRentalFeeRequest" message="tns:calculateRentalFee"/>
<output wsam:Action="http://holidayReservationWS.session.ejb/HolidayReservationSystemWebService/calculateRentalFeeResponse" message="tns:calculateRentalFeeResponse"/>
<fault message="tns:NoRentalRateApplicableException" name="NoRentalRateApplicableException" wsam:Action="http://holidayReservationWS.session.ejb/HolidayReservationSystemWebService/calculateRentalFee/Fault/NoRentalRateApplicableException"/>
</operation>
<operation name="login">
<input wsam:Action="http://holidayReservationWS.session.ejb/HolidayReservationSystemWebService/loginRequest" message="tns:login"/>
<output wsam:Action="http://holidayReservationWS.session.ejb/HolidayReservationSystemWebService/loginResponse" message="tns:loginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://holidayReservationWS.session.ejb/HolidayReservationSystemWebService/login/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="hello">
<input wsam:Action="http://holidayReservationWS.session.ejb/HolidayReservationSystemWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://holidayReservationWS.session.ejb/HolidayReservationSystemWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="retrieveAllOutlet">
<input wsam:Action="http://holidayReservationWS.session.ejb/HolidayReservationSystemWebService/retrieveAllOutletRequest" message="tns:retrieveAllOutlet"/>
<output wsam:Action="http://holidayReservationWS.session.ejb/HolidayReservationSystemWebService/retrieveAllOutletResponse" message="tns:retrieveAllOutletResponse"/>
</operation>
</portType>
<binding name="HolidayReservationSystemWebServicePortBinding" type="tns:HolidayReservationSystemWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="retrieveAllModel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAllCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchCarByModel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ModelNotFoundException">
<soap:fault name="ModelNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="searchCarByCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CategoryNotFoundException">
<soap:fault name="CategoryNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveOutletById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="OutletNotFoundException">
<soap:fault name="OutletNotFoundException" use="literal"/>
</fault>
<fault name="BeyondOperatingHoursException">
<soap:fault name="BeyondOperatingHoursException" use="literal"/>
</fault>
<fault name="PickUpDateAfterReturnDateException">
<soap:fault name="PickUpDateAfterReturnDateException" use="literal"/>
</fault>
<fault name="ModelNotFoundException">
<soap:fault name="ModelNotFoundException" use="literal"/>
</fault>
<fault name="NoRentalRateApplicableException">
<soap:fault name="NoRentalRateApplicableException" use="literal"/>
</fault>
</operation>
<operation name="retrieveModelById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ModelNotFoundException">
<soap:fault name="ModelNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAvailAllModels">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveCarsByCategoryId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calculateRentalFee">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoRentalRateApplicableException">
<soap:fault name="NoRentalRateApplicableException" use="literal"/>
</fault>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAllOutlet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HolidayReservationSystemWebService">
<port name="HolidayReservationSystemWebServicePort" binding="tns:HolidayReservationSystemWebServicePortBinding">
<soap:address location="http://localhost:8080/HolidayReservationSystemWebService/HolidayReservationSystemWebService"/>
</port>
</service>
</definitions>